<%if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key %>);">
    <div class ="cocktail">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvoduvlcz/image/upload/v1605264191/placeholders/placehold_no_image_fl8tij.jpg);">
  <div class ="cocktail">
     <h1><%= @cocktail.name %></h1>
  </div>
</div>
<% end %>

<div class="d-flex justify-content-center">
    <div class="ingredients mt-5 mb-5">
      <h2>Ingredients</h2>
      <table class="table ingredients">
        <thead>
          <tr>
            <th scope="col">Description/ Amount</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @cocktail.doses.each do |dose| %>
          <tr>
            <th scope="row"><%= dose.description %></th>
            <td><%= dose.ingredient.name %></td>
            <td><%= link_to dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash-alt">
              </i>
              <% end %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
     </div>
</div>

    </div>
<div class="container">
<%= render 'doses/form' %>
</div>

<br>
<br>
<div class="d-flex justify-content-center">
    <%= link_to 'Back to home', root_path, class: 'btn btn-secondary btn-lg btn-block'%>
</div>

<br>

