<%if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key %>);">
    <div class ="cocktail">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvoduvlcz/image/upload/v1605264191/placeholders/placehold_no_image_fl8tij.jpg);">
  <div class ="cocktail">
     <h1><%= @cocktail.name %></h1>
  </div>
</div>
<% end %>

    <div class="ingredients mt-5 mb-5">
        <h3>Ingredients</h3>
        <% @cocktail.doses.each do |dose| %>
          <li>
              <%= link_to dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash-alt">
              </i>
              <% end %>
              <%= dose.description %>
              <%= dose.ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
<div class="d-flex justify-content-center">
  <%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-success'%>
  <%= link_to 'Back to home', root_path, class: 'btn btn-primary'%>
</div>

